{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "New Application" %}
{% endblock head_title %}
{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 h-screen">
    <div class="sm:mx-auto sm:w-full sm:max-w-3xl">
        <h2 class="text-2xl font-bold leading-9 tracking-tight text-gray-900">{% trans "Fill In Your Academic Background" %}</h2>
    </div>

    <nav class="mt-5 sm:mx-auto sm:w-full sm:max-w-3xl bg-white p-5 rounded-md">
        <!-- Stepper -->
        <ul class="relative flex flex-row gap-x-2">
            <!-- Item -->
            <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group">
                <div class="min-w-7 min-h-7 inline-flex justify-center items-center text-xs align-middle">
                  <span class="size-7 flex justify-center items-center flex-shrink-0 bg-gray-800 font-medium text-white rounded-full">
                    1
                  </span>
                  <span class="ms-2 block text-sm font-medium text-gray-800">
                    Personal Information
                  </span>
                </div>
                <div class="w-full h-px flex-1 bg-gray-200 group-last:hidden"></div>
            </li>
            <!-- End Item -->
        
            <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group">
                <div class="min-w-7 min-h-7 inline-flex justify-center items-center text-xs align-middle">
                  <span class="size-7 flex justify-center items-center flex-shrink-0 bg-gray-800 font-medium text-white rounded-full">
                    2
                  </span>
                  <span class="ms-2 block text-sm font-medium text-gray-800">
                    Academic Background
                  </span>
                </div>
                <div class="w-full h-px flex-1 bg-gray-200 group-last:hidden"></div>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group">
                <div class="min-w-7 min-h-7 inline-flex justify-center items-center text-xs align-middle">
                    <span class="size-7 flex justify-center items-center flex-shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full">
                        3
                    </span>
                    <span class="ms-2 block text-sm font-medium text-gray-500">
                        Extracurricular Activity
                    </span>
                </div>
                <div class="w-full h-px flex-1 bg-gray-200 group-last:hidden"></div>
            </li>
            <!-- End Item -->

             <!-- Item -->
             <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group">
                <div class="min-w-7 min-h-7 inline-flex justify-center items-center text-xs align-middle">
                    <span class="size-7 flex justify-center items-center flex-shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full">
                        4
                    </span>
                    <span class="ms-2 block text-sm font-medium text-gray-500">
                        Document
                    </span>
                </div>
                <div class="w-full h-px flex-1 bg-gray-200 group-last:hidden"></div>
            </li>
            <!-- End Item -->
        </ul>
        <!-- End Stepper -->
    </nav>

    <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-3xl bg-white p-10">
        <form class="space-y-4" id="signup_form" method="post" action="." novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <span class="font-medium">{{ form.non_field_errors }}</span>
                </div>
            {% endif %}
            
            {% comment %} # institution_name {% endcomment %}
            <div class="col-span-2">
                <label for="{{ form.institution_name.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.institution_name.label }}</label>
                <div class="mt-2">
                    <input type="{{ form.institution_name.field.widget.input_type }}" name="{{ form.institution_name.html_name }}" autocomplete="form.institution_name.html_name" maxlength="{{ form.institution_name.field.max_length }}" id="{{ form.institution_name.id_for_label }}" value="{{ form.institution_name.value|default_if_none:'' }}" required class="block w-full rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset {% if form.errors %} ring-red-400 placeholder:text-red-500 {% else %} ring-gray-300 placeholder:text-gray-400 {% endif %} focus:ring-2 focus:ring-inset focus:ring-zinc-600 sm:text-sm sm:leading-6">
                </div>
                {% if form.institution_name.errors %}
                    <div class="mt-2 text-sm text-red-600">{{ form.institution_name.errors }}</div>
                {% endif %}
                
                {% if form.institution_name.help_text %}
                <div class="mt-2 text-sm text-gray-500 " id="{{ form.institution_name.auto_id }}_helptext">
                    {{ form.institution_name.help_text|safe }}
                </div>
                {% endif %}
            </div>


            {% comment %} # degree {% endcomment %}
            <div class="col-span-2">
                <label for="{{ form.degree.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.degree.label }}</label>
                <div class="mt-2">
                    {{ form.degree }}
                </div>
                {% if form.degree.errors %}
                    <div class="mt-2 text-sm text-red-600">{{ form.degree.errors }}</div>
                {% endif %}
                
                {% if form.degree.help_text %}
                <div class="mt-2 text-sm text-gray-500 " id="{{ form.degree.auto_id }}_helptext">
                    {{ form.degree.help_text|safe }}
                </div>
                {% endif %}
            </div>

            {% comment %} institution_name, field_of_study and graduation_year {% endcomment %}
            <div class="grid grid-cols-4 gap-4">


                {% comment %} # field_of_study {% endcomment %}
                <div class="col-span-2">
                    <label for="{{ form.field_of_study.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.field_of_study.label }}</label>
                    <div class="mt-2">
                        <input type="{{ form.field_of_study.field.widget.input_type }}" name="{{ form.field_of_study.html_name }}" autocomplete="form.field_of_study.html_name" maxlength="{{ form.field_of_study.field.max_length }}" id="{{ form.field_of_study.id_for_label }}" value="{{ form.field_of_study.value|default_if_none:'' }}" required class="block w-full rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset {% if form.errors %} ring-red-400 placeholder:text-red-500 {% else %} ring-gray-300 placeholder:text-gray-400 {% endif %} focus:ring-2 focus:ring-inset focus:ring-zinc-600 sm:text-sm sm:leading-6">
                    </div>
                    {% if form.field_of_study.errors %}
                        <div class="mt-2 text-sm text-red-600">{{ form.field_of_study.errors }}</div>
                    {% endif %}
                    
                    {% if form.field_of_study.help_text %}
                    <div class="mt-2 text-sm text-gray-500 " id="{{ form.field_of_study.auto_id }}_helptext">
                        {{ form.field_of_study.help_text|safe }}
                    </div>
                    {% endif %}
                </div>

                {% comment %} # graduation_year {% endcomment %}
                <div class="col-span-2">
                    <label for="{{ form.graduation_year.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.graduation_year.label }}</label>
                    <div class="mt-2">
                        {{ form.graduation_year.value }}
                        <input type="date" name="graduation_year" min="2000-01-01" max="2025-12-31" step="1">

                        <input type="{{ form.graduation_year.field.widget.input_type }}" name="{{ form.graduation_year.html_name }}" autocomplete="form.graduation_year.html_name" maxlength="{{ form.graduation_year.field.max_length }}" id="{{ form.graduation_year.id_for_label }}" value="{{ form.graduation_year.value|default_if_none:'' }}" required class="block w-full rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset {% if form.errors %} ring-red-400 placeholder:text-red-500 {% else %} ring-gray-300 placeholder:text-gray-400 {% endif %} focus:ring-2 focus:ring-inset focus:ring-zinc-600 sm:text-sm sm:leading-6">
                    </div>
                    {% if form.graduation_year.errors %}
                        <div class="mt-2 text-sm text-red-600">{{ form.graduation_year.errors }}</div>
                    {% endif %}
                    
                    {% if form.graduation_year.help_text %}
                    <div class="mt-2 text-sm text-gray-500 " id="{{ form.graduation_year.auto_id }}_helptext">
                        {{ form.graduation_year.help_text|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
            
            {% comment %} start year and end year {% endcomment %}
            <div class="grid grid-cols-6 gap-4">

                {% comment %} # start_year {% endcomment %}
                <div class="col-span-3">
                    <label for="{{ form.start_year.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.start_year.label }}</label>
                    <div class="mt-2">
                        <input type="{{ form.start_year.field.widget.input_type }}" name="{{ form.start_year.html_name }}" autocomplete="form.start_year.html_name" maxlength="{{ form.start_year.field.max_length }}" id="{{ form.start_year.id_for_label }}" value="{{ form.start_year.value|default_if_none:'' }}" required class="block w-full rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset {% if form.errors %} ring-red-400 placeholder:text-red-500 {% else %} ring-gray-300 placeholder:text-gray-400 {% endif %} focus:ring-2 focus:ring-inset focus:ring-zinc-600 sm:text-sm sm:leading-6">
                    </div>
                    {% if form.start_year.errors %}
                        <div class="mt-2 text-sm text-red-600">{{ form.start_year.errors }}</div>
                    {% endif %}
                    
                    {% if form.start_year.help_text %}
                    <div class="mt-2 text-sm text-gray-500 " id="{{ form.start_year.auto_id }}_helptext">
                        {{ form.start_year.help_text|safe }}
                    </div>
                    {% endif %}
                </div>

                {% comment %} # end_year {% endcomment %}
                <div class="col-span-3">
                    <label for="{{ form.end_year.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.end_year.label }}</label>
                    <div class="mt-2">
                        <input type="{{ form.end_year.field.widget.input_type }}" name="{{ form.end_year.html_name }}" autocomplete="form.end_year.html_name" maxlength="{{ form.end_year.field.max_length }}" id="{{ form.end_year.id_for_label }}" value="{{ form.end_year.value|default_if_none:'' }}" required class="block w-full rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset {% if form.errors %} ring-red-400 placeholder:text-red-500 {% else %} ring-gray-300 placeholder:text-gray-400 {% endif %} focus:ring-2 focus:ring-inset focus:ring-zinc-600 sm:text-sm sm:leading-6">
                    </div>
                    {% if form.end_year.errors %}
                        <div class="mt-2 text-sm text-red-600">{{ form.end_year.errors }}</div>
                    {% endif %}
                    
                    {% if form.end_year.help_text %}
                    <div class="mt-2 text-sm text-gray-500 " id="{{ form.end_year.auto_id }}_helptext">
                        {{ form.end_year.help_text|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="mt-10 flex gap-20">
                <a href"{% url "add_personal_information" %}" class="cursor-pointer flex w-full justify-center rounded-md bg-zinc-300 px-6 py-3 text-sm font-semibold leading-6 text-zinc-900 shadow-sm hover:bg-zinc-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-600">Next </a>

                <button type="submit" class="flex w-full justify-center rounded-md bg-zinc-800 px-6 py-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-zinc-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-600">Next </button>
            </div>
        </form>
    </div>
    
    
    </div>
{% endblock %}